
.button.O {
    background: #f9d451;
}

.button.X {
    background: #1e94e0;
}
.button.B {
    background: #bbb;
}
.board .button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 2px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

body {
    font-family:sans-serif;
}
